/build
/dist
/.vscode
/.idea
/__pycache__
SvitloSumy/__pycache__
SvitloSumy/build
for_telegram/__pycache__
for_telegram/day.py
Svitlo_Sumy.spec
main.spec
Svitlo Sumy.spec
assets/firebase_init.json
.venv
