/build
/dist
/.vscode
/.idea
/__pycache__
SvitloSumy/__pycache__
SvitloSumy/build
Telegram_Post/__pycache__
Telegram_Bot/__pycache__
for_telegram/day.py
Svitlo_Sumy.spec
main.spec
Svitlo Sumy.spec
assets/firebase_init.json
.venv
Telegram_Bot/tg_token.py